.container{
    margin: auto;
    padding: auto;
    width: 700px;
    height: 500px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px black;
}
.box{
    width: 500px;
    height: 400px;
    background-color: blue;
    display: flex;              /* make flexbox */
    flex-direction: column;     /* stack items vertically */
    justify-content: center;    /* center vertically */
    align-items: center;        /* center horizontally */
    text-align: center;
    /* box-shadow: 10px 10px black; */
    box-shadow: 10px 10px 5px black;
    text-shadow: 2px 2px 4px red;
}